
body {
    background-color: rgb(108, 86, 220);
}
.container{
    max-width: max-content;
    border-radius: 25px;

}
.button{
    max-width: 140px;
}

.c{
    padding: 15px;
}
.nameForm{
font-size: 40px;
max-width: max-content;
font-family: 'Times New Roman', Times, serif;
}
